.block__block-post {
    padding: 20px 0;
}

h2 {
    font-family: inherit, sans-serif;
    font-size: 30px;
    margin: 20px 0 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.service-text {
    line-height: 23px;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}

p {
    margin: 0 0 10px;
}

strong {
    font-weight: 500;
}

li {
    margin: 3px 0;
}
