h2 {
    font-size: 30px;
    margin: 40px 0 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

td {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 70px 0;
}

.wrap {
    display: flex;
    width: 89px;
    height: 159px;
    font-weight: 500;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f1f1f1;
}

.first-data {
    display: flex;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-colum {

}

.wrapper {
}

.wrappper {
    width: 130px;
    height: 159px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #aaa;
    background: #ccc;
}

.last-three {
    height: 297px;
    text-align: center;
    display: flex;
    margin-bottom: 70px;
}

.inform {
    background: #ccc;
    border: 1px solid #aaa;
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}

.information {
    height: 100%;
    display: flex;
    
}
.information-content {
    display: flex;
    flex-wrap: wrap;
    
}


.smart-tv-data {
    width: 825px;
    height: 100%;
}

.smart-inform {
    display: flex;
   
    flex-wrap: wrap;
    height: 100%;
}

.wrap-content {
    width: 127px;
    height: 140px;
    padding: 3.5px;
    font-weight: 500;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.text {
    font-weight: 500;
}

.tv {
    font-weight: 500;
    letter-spacing: 1px;
}

.images {
    width: 80px;
    height: 80px;
    padding: 20px 0 10px;
}

.link {
    text-align: center;
}

.flex {
    width: 219px;
    height: 278px;
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    background: #ccc;
}

.one {

}

.page {
    font-weight: 500;
    padding-left: 70px;
}

.smart {
    display: flex;
    flex-wrap: wrap;
}



.block {
    display: flex;
    width: 125px;
    height: 138px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.padding {
    display: flex;
    align-items: center;
}

.div {
    text-align: center;
}

.img {
    width: 80px;
    height: 80px;
    padding-left: 11px;
}

.block-link {
    padding-right: 2px;
}

.border {
    display: flex;
    width: 125px;
    height: 138px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.content-page {

}

.margin-info {
    display: flex;
    align-items: center;
}

.margin-flex {
    width: 214px;
    height: 150px;
    text-align: center;
    background: #ccc;
    border: 1px solid #aaa;
    padding: 0.8rem;
}

.youtube {
    display: block;
    width: 75px;
    height: 17px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.margin-footer {
    width: 177px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    border: 1px solid #ccc;
    background-color: #e7e7e7;
}

.text-page {
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 65.5px;
}

.iframe {
    margin-top: 50px;
    margin-bottom: 30px;
}

.spannn {
    display: flex;
    align-items: center;
    margin: 20px 0;
}



