* {
    font-family: Roboto, sans-serif;
}

.content {
    max-width: 1150px;
    margin: 0 auto;
}


.title {
    display: block;
} 


.img_cart {
    display: flex;
}

.map {
    display: flex;
    width: 900px;
    margin-top: 20px;
}


.infom {
    display: flex;
    gap: 240px;
    font-weight: 400;
} 


.infor {
    display: flex;
    width: 900px;
}