* {
    font-family: Roboto, sans-serif;
}

.content {
    max-width: 1150px;
    margin: 0 auto;
}


.title {
    display: block;
} 


.img_cart {
    display: flex;
}

.map {
    display: flex;
    width: 900px;
    margin-top: 20px;
}


.infom {
    display: flex;
    gap: 240px;
    font-weight: 400;
} 


.infor {
    display: flex;
    width: 900px;
}

.row-ooo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.playse {
    font-size: 30px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 50px;
    margin-bottom: 10px;
    color: inherit;
}

.ops {
    font-size: 24px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}