h3 {
    margin: 30px 0 0 0;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.broadcast-title {
    font-size: 24px;
    color: inherit;
    font-weight: 500;
    margin-bottom: 20px;
}

.broadcast-wrap {
    margin: 40px 0;
}

.content-flex {
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-flex::-webkit-scrollbar {
    width: 5px;
}   

.content-flex::-webkit-scrollbar-thumb {
    background-color: #36d7b7;
    border-radius: 5px;
}

.content-flex::-webkit-scrollbar-track {
    background-color: #eee;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.game {
    width: 30px;
    height: 30px;
    padding: 20px;
}

.logo-flex {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.row-flex {
    width: 300px;
    display: flex;
    align-items: center;
}

.row-flex:first-child {
    justify-content: right;
}

.div {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: auto;
}

.name {
    margin: 10px 20px 0 20px;
    line-height: 1.42857143;
    vertical-align: top;
}

.logo {
    width: 40px;
    height: 40px;
}

.margin {
    margin: 0 30px;
    font-weight: 700;
}

.name_ru {
    text-align: center;
    padding: 8px;
    line-height: 1.42857143;
    color: #BABABA;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
}

.ava:last-child {
    margin-bottom: 50px;
}

.button {
    border-left: 1px solid #ccc;
    margin-right: 20px;
    padding-left: 20px;
}

.spaces {
    max-width: 1150px;
    margin: 0 auto;
}

.select {
    padding: 8px 18px;
    margin: 10px;
}

.option:active {
    outline: none;
}

.div-content {
    background-color: #eee;
}

.loader {
    text-align: center;
    margin: 50px 0;
}