.search-container {
  position: relative;
  display: inline-block;
}

.search-form {
  position: relative;
  display: inline-block;
}

.search-input,
.search-button {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: width 0.3s ease, opacity 0.3s ease;
  box-sizing: border-box;
}

.search-input {
  width: 0;
  opacity: 0;
  overflow: hidden;
  height: 30px;
  transition-delay: 0.3s;
  background: white;
  color: #3d3d3d; 
}

.search-form:hover .search-input {
  width: 150px;
  opacity: 1;
}

.search-form:hover .search-button {
  margin-left: -5px;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  background: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #3d3d3d; 
  width: 20px;
  height: 20px;
}
