.content-information {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    background-color: #F1F1F1!important;
}

.ivg_icon1 {
    display: flex;
    justify-content: center;
}

.content0 {
    max-width: 1150px;
    margin: 0 auto;
    padding: 70px 0;
}


#imgicon1 {
    width: 350px;
} 