.section-program {
    margin: 50px 0;
}

.program {}


.program-nav {}


.program-nav__link {
    color: #337ab7
}
.program-nav__link:hover {
    text-decoration: underline;
}
.program-nav__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.program-nav__actions-title {}
.program-nav__actions-navbar {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.program-nav__actions-navbar > div:hover {
    text-decoration: underline;
    color: red;
}

.program-nav__actions-navbar__link {
    color: red;
}

.program-nav__actions-navbar__link:active {
    color: black;
}

.program-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}
.program-content__item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 550px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.program-content__item-time {}
.program-content__item-time__value {
    font-size: 24px;
    margin-bottom: 5px;
}
.program-content__item-time__region {
    color: #a8a8a8;
}

.program-content__item-description {
    font-size: 16px;
}
.live {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}
